.loading {
    background-image: url(../../assets/img/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .8;
}
